@page "{EmployeeID?}"
@model StarTEDSolution.Pages.Deliverables.CRUDModel
@{
    ViewData["Title"] = "CRUD page";
}
<div class="text-center">
    <h1 class="display-4">This is the CRUD Page!</h1>
    <a asp-area="" asp-page="/CRUD"></a>
    <img src="~/img/CRUDImage.jpg" alt="" title="" />
    </div>

<h1>Employees by Partial Name</h1>

<style>
    :root {
        --max-body-width: 60rem;
    }

    .setflex {
        display: flex;
    }

    .onethird {
        width: 31%;
        margin-right: 2%;
    }

    .onehalf {
        width: 47%;
        margin-right: 3%;
    }

    .smallbox {
        width: 60px;
    }

</style>

@if (Model.HasFeedback)
{
    <p>@Model.Feedback</p>
}
@if (Model.HasError)
{
    <p>@Model.ErrorMessage</p>
}

<form method="post">

    <label>
        Employee ID:
        <input type="text" asp-for="EmployeeInfo.FullName" readonly data-val="false" />
        <span asp-validation-for="EmployeeInfo.FirstName"></span>
    </label>

    <label>
        Position:
        <select asp-for="PositionInfo.Description">
            @foreach (var item in Model.PositionList)
            {
                <option value="@item.Description"
                    selected=@(Model.PositionInfo != null && item.Description == Model.PositionInfo.Description)>
                    @item.Description
                </option>
            }
        </select>
    </label>
    
    <label>
        Program:
        <select asp-for="ProgramInfo.ProgramName">
            @foreach (var item in Model.ProgramList)
            {
                <option value="@item.ProgramName"
                    selected=@(Model.PositionInfo != null && item.ProgramName == Model.ProgramInfo.ProgramName)>
                    @item.ProgramName
                </option>
            }
        </select>
    </label>
    <label>
        ReleaseDate: 
        <input type="date" asp-for="EmployeeInfo.ReleaseDate" placeholder="Date" />
        <span asp-validation-for="EmployeeInfo.ReleaseDate"></span>
    </label>
  
    <br /><br />
    @* Managing the buttons, restricting user access*@
    @if (Model.EmployeeInfo != null)
    {
        <button type="submit" asp-page-handler="New" disabled>New</button>
        <button type="submit" asp-page-handler="Update">Update</button>
        @* add Javascript prompt for delete confirmation using the onclick *@
        <button type="submit" asp-page-handler="Delete" formnovalidate
            onclick="return confirm('Are you sure you wish to delete the current information? Employee is not to be deleted.')">
            Delete
        </button>
    }
    else
    {
        <button type="submit" asp-page-handler="New">New</button>
        <button type="submit" asp-page-handler="Update" disabled>Update</button>
        @* add Javascript prompt for delete confirmation using the onclick *@
        <button type="submit" asp-page-handler="Delete" formnovalidate 
            onclick="return confirm('Are you sure you wish to delete the Rolling Stock?')">
            Delete
        </button>
    }
    <button type="submit" asp-page-handler="Cancel" formnovalidate>Cancel</button>
</form>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
        }

        @*

  @if (Model.EmployeeInfo != null)
    {
        if (Model.EmployeeInfo.Count() == 0)
        {
            <p style="color: red; font-weight: bold; font-size: large">
                There are no Employees matching your search request
            </p>
        }
        else
        {
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Program</th>
                    </tr>
                </thead>
                  <tbody>

                    @foreach (var item in Model.EmployeeInfo)
                    {
                        <tr>

                            <td>
                                <a href="/Deliverables/CRUD/@item.EmployeeID">
                                    Edit 
                                </a>
                            </td>

                            <td>@item.LastName, @item.FirstName</td>
                            
                         
                            <td>
                            <select>
                                    @foreach (var position in Model.PositionInfo)
                                    {
                                            if (position.Description == position.Description)
                                        {
                                            <option value="@position.Description " selected>@position.Description </option>
                                        }
                                        else
                                        {
                                            <option value="@position.Description">@position.Description </option>
                                        }
                                    }
                            </select>
                            </td>

                            
                                
                          
                         
                            <td>
                            <select>
                                    @foreach (var programs in Model.ProgramInfo)
                                    {
                                            if (programs.ProgramName == programs.ProgramName)
                                        {
                                            <option value="Programs.ProgramID " selected>@programs.ProgramName </option>
                                        }
                                        else
                                        {
                                             <option value="@programs.ProgramName ">@programs.ProgramName </option>
                                        }
                                    }
                            </select>
                            </td>
                            
                        </tr>
                    }
                 </tbody>

              
                    
            </table>

            *@
    
        
    
